In [ ]:
# injest 2010 NOAA data to create a dataset similar to 2015 NOAA dataset. 
# Use monthly data from QCLCD
# get the data from the WBAN numbers needed, link to the Plant that they are krieged by

In [1]:
# step 0- Import the needed packages

import pandas as pd
import os
import numpy as np

## look into these, should be useful for timing how long things take
#from tqdm.notebook import trange, tqdm
#from time import sleep

In [2]:
# step 1- set up directory
Climate_data_dir = r'C:\WBEEP\Thermoelectric-master\Climate_stations'
sta_DBWB = pd.read_csv(os.path.join(Climate_data_dir, '3sta_DBWB.csv'))
sta_DBWB

,Plant_ID,WMO_num,NEAR_DIST,NEAR_RANK,PLANT_ID_1,PLANT_NAME,STATE,Plnt_LAT,Plnt_LONG,WBAN,...,MAR_DB,APR_DB,MAY_DB,JUN_DB,JUL_DB,AUG_DB,SEP_DB,OCT_DB,NOV_DB,DEC_DB
0,3,13894,42699.611445,1,3,Barry,AL,31.006900,-88.010300,13894,...,17.95,21.39,23.95,27.06,28.56,27.61,25.34,20.78,17.56,16.11
1,3,13838,44331.141006,2,3,Barry,AL,31.006900,-88.010300,13838,...,18.00,21.61,24.34,27.28,29.06,28.06,26.00,21.50,17.89,16.39
2,3,53858,78998.886706,3,3,Barry,AL,31.006900,-88.010300,53858,...,17.95,21.28,23.34,26.67,28.56,27.45,24.89,20.56,17.45,16.11
3,7,13871,50668.774744,1,7,Gadsden,AL,34.012800,-85.970800,13871,...,13.95,18.45,22.28,26.06,27.50,26.22,23.56,18.00,14.89,13.72
4,7,93801,80988.206168,2,7,Gadsden,AL,34.012800,-85.970800,93801,...,12.72,17.39,21.78,25.95,27.34,25.84,22.89,16.56,13.33,12.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3886,59884,4845,34700.553908,2,59884,Great Lakes Central Power Plant,IL,42.310000,-87.830000,4845,...,0.22,8.06,14.28,18.39,20.45,20.28,19.39,11.45,6.67,3.17
3887,59884,94846,38080.407684,3,59884,Great Lakes Central Power Plant,IL,42.310000,-87.830000,94846,...,1.89,9.67,15.78,19.67,22.39,22.11,20.56,12.61,7.00,3.89
3888,60100,93193,35252.662159,1,60100,Dinuba Energy,CA,36.571485,-119.419176,93193,...,17.78,17.95,20.28,27.78,28.39,28.00,25.95,21.84,11.00,7.67
3889,60100,23257,124471.351591,2,60100,Dinuba Energy,CA,36.571485,-119.419176,23257,...,16.00,16.33,18.72,25.39,26.17,25.56,23.61,20.50,10.06,7.17
3890,60100,23155,136886.410415,3,60100,Dinuba Energy,CA,36.571485,-119.419176,23155,...,17.95,18.61,21.06,28.50,29.17,28.89,26.89,22.56,11.95,8.78

In [3]:
# bring in 2010 data, extract variables of interest

NOAA_data = pd.read_csv(os.path.join(Climate_data_dir,'2010_data','201001monthly.txt'))

In [4]:
NOAA_data

,WBAN,YearMonth,AvgMaxTemp,DepartureMaxTemp,AvgMinTemp,DepartureMinTemp,AvgTemp,DeparturefromNormal,AvgDewPoint,AvgWetBulb,...,HeavyFogDays,DaysWithPrecip>=.01inch,DaysWithPrecip>=.10inch,DaysWithSnowfall>=1.0inch,WaterEquivalent,ResultantWindSpeed,ResultantWindDirection,AvgWindSpeed,AvgHDD,AvgCDD
0,3013,201001,46.9,M,12.9,M,29.9,M,16.3,23.8,...,3,1,1,M,M,M,M,7.3,34.8,0.0
1,3016,201001,34.4,M,12.0,M,23.2,M,15.2,20.0,...,0,7,2,M,M,1.4,22,2.8,41.7,0.0
2,3017,201001,43.0,-0.2,17.6,2.4,30.3,1.1,17.3,25.4,...,3,5,0,1,M,3.5,20,7.9,34.5,0.0
3,3024,201001,38.4,M,17.2,M,27.8,M,20.4,29.7,...,4,1,1,M,M,1.7,22,8.5,28.5,0.0
4,3026,201001,45.3,M,17.3,M,31.3,M,18.0,25.3,...,2,3,0,M,M,3.1,27,9.8,33.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1076,94992,201001,24.8,M,11.7,M,18.3,M,8.4,16.3,...,0,4,2,M,M,1.4,34,7.6,46.5,0.0
1077,94993,201001,17.5,M,2.5,M,10.0,M,7.3,10.8,...,0,14,5,M,M,2.7,29,11.9,54.9,0.0
1078,94994,201001,25.6,M,7.3,M,16.5,M,10.1,15.3,...,1,6,3,M,M,1.9,25,4.5,48.3,0.0
1079,94995,201001,M,M,M,M,M,M,M,M,...,0,M,M,M,M,M,M,M,M,M
1080,94996,201001,M,M,M,M,M,M,M,M,...,0,M,M,M,M,M,M,M,M,M

In [5]:
WBAN = sta_DBWB['WBAN']
WBAN_u = WBAN.unique()

In [6]:
NOAA_data.columns

Index(['WBAN', 'YearMonth', 'AvgMaxTemp', 'DepartureMaxTemp', 'AvgMinTemp',
       'DepartureMinTemp', 'AvgTemp', 'DeparturefromNormal', 'AvgDewPoint',
       'AvgWetBulb', 'HeatingDegreeDays', 'CoolingDegreeDays',
       'HDDMonthlyDeparture', 'CDDMonthlyDeparture', 'HDDSeasonToDate',
       'CDDSeasonToDate', 'HDDSeasonToDateDeparture',
       'CDDSeasonToDateDeparture', 'MeanStationPressure',
       'MeanSeaLevelPressure', 'MaxSeaLevelPressure',
       'DateMaxSeaLevelPressure', 'TimeMaxSeaLevelPressure',
       'MinSeaLevelPressure', 'DateMinSeaLevelPressure',
       'TimeMinSeaLevelPressure', 'TotalMonthlyPrecip',
       'DepartureFromNormalPrecip', 'Max24HrPrecip', 'DateMax24HrPrecip',
       'TotalSnowfall', 'Max24HrSnowfall', 'DateMax24HrSnowfall',
       'Max12ZSnowDepth', 'DateMax12ZSnowDepth', 'MaxTemp>=90Days',
       'MaxTemp<=32Days', 'MinTemp<=32Days', 'MinTemp<=0Days',
       'ThunderstormDays', 'HeavyFogDays', 'DaysWithPrecip>=.01inch',
       'DaysWithPrecip>=.10inch', 'DaysWithSnowfall>=1.0inch',
       'WaterEquivalent', 'ResultantWindSpeed', 'ResultantWindDirection',
       'AvgWindSpeed', 'AvgHDD', 'AvgCDD'],
      dtype='object')

In [7]:
#extract the WBAN_u from NOAA_data
NOAA_data_vars = NOAA_data[['WBAN','AvgTemp','AvgWetBulb', 'AvgWindSpeed']]

In [8]:
NOAA_data_vars

       WBAN AvgTemp AvgWetBulb AvgWindSpeed
0      3013    29.9       23.8          7.3
1      3016    23.2       20.0          2.8
2      3017    30.3       25.4          7.9
3      3024    27.8       29.7          8.5
4      3026    31.3       25.3          9.8
...     ...     ...        ...          ...
1076  94992    18.3       16.3          7.6
1077  94993    10.0       10.8         11.9
1078  94994    16.5       15.3          4.5
1079  94995       M          M            M
1080  94996       M          M            M

[1081 rows x 4 columns]

In [9]:
sel_NOAA_data = NOAA_data_vars[NOAA_data_vars['WBAN'].isin(WBAN_u)]

In [10]:
sel_NOAA_data

       WBAN AvgTemp AvgWetBulb AvgWindSpeed
2      3017    30.3       25.4          7.9
3      3024    27.8       29.7          8.5
4      3026    31.3       25.3          9.8
6      3028    32.7       25.8          9.8
8      3030    33.4       27.2          8.7
...     ...     ...        ...          ...
1073  94989    14.1       13.7          9.6
1075  94991    16.7       16.1          9.3
1076  94992    18.3       16.3          7.6
1077  94993    10.0       10.8         11.9
1078  94994    16.5       15.3          4.5

[504 rows x 4 columns]

In [11]:
sta_DBWB

,Plant_ID,WMO_num,NEAR_DIST,NEAR_RANK,PLANT_ID_1,PLANT_NAME,STATE,Plnt_LAT,Plnt_LONG,WBAN,...,MAR_DB,APR_DB,MAY_DB,JUN_DB,JUL_DB,AUG_DB,SEP_DB,OCT_DB,NOV_DB,DEC_DB
0,3,13894,42699.611445,1,3,Barry,AL,31.006900,-88.010300,13894,...,17.95,21.39,23.95,27.06,28.56,27.61,25.34,20.78,17.56,16.11
1,3,13838,44331.141006,2,3,Barry,AL,31.006900,-88.010300,13838,...,18.00,21.61,24.34,27.28,29.06,28.06,26.00,21.50,17.89,16.39
2,3,53858,78998.886706,3,3,Barry,AL,31.006900,-88.010300,53858,...,17.95,21.28,23.34,26.67,28.56,27.45,24.89,20.56,17.45,16.11
3,7,13871,50668.774744,1,7,Gadsden,AL,34.012800,-85.970800,13871,...,13.95,18.45,22.28,26.06,27.50,26.22,23.56,18.00,14.89,13.72
4,7,93801,80988.206168,2,7,Gadsden,AL,34.012800,-85.970800,93801,...,12.72,17.39,21.78,25.95,27.34,25.84,22.89,16.56,13.33,12.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3886,59884,4845,34700.553908,2,59884,Great Lakes Central Power Plant,IL,42.310000,-87.830000,4845,...,0.22,8.06,14.28,18.39,20.45,20.28,19.39,11.45,6.67,3.17
3887,59884,94846,38080.407684,3,59884,Great Lakes Central Power Plant,IL,42.310000,-87.830000,94846,...,1.89,9.67,15.78,19.67,22.39,22.11,20.56,12.61,7.00,3.89
3888,60100,93193,35252.662159,1,60100,Dinuba Energy,CA,36.571485,-119.419176,93193,...,17.78,17.95,20.28,27.78,28.39,28.00,25.95,21.84,11.00,7.67
3889,60100,23257,124471.351591,2,60100,Dinuba Energy,CA,36.571485,-119.419176,23257,...,16.00,16.33,18.72,25.39,26.17,25.56,23.61,20.50,10.06,7.17
3890,60100,23155,136886.410415,3,60100,Dinuba Energy,CA,36.571485,-119.419176,23155,...,17.95,18.61,21.06,28.50,29.17,28.89,26.89,22.56,11.95,8.78

In [12]:
#verify idw scheme using 2015 
new_sta_DBWB = sta_DBWB.copy(deep=True)

In [13]:
new_sta_DBWB.columns

Index(['Plant_ID', 'WMO_num', 'NEAR_DIST', 'NEAR_RANK', 'PLANT_ID_1',
       'PLANT_NAME', 'STATE', 'Plnt_LAT', 'Plnt_LONG', 'WBAN', 'Name', 'State',
       'Location', 'Wsta_Lat', 'Wsta_Long', 'JAN_WB', 'FEB_WB', 'MAR_WB',
       'APR_WB', 'MAY_WB', 'JUN_WB', 'JUL_WB', 'AUG_WB', 'SEP_WB', 'OCT_WB',
       'NOV_WB', 'DEC_WB', 'JAN_DB', 'FEB_DB', 'MAR_DB', 'APR_DB', 'MAY_DB',
       'JUN_DB', 'JUL_DB', 'AUG_DB', 'SEP_DB', 'OCT_DB', 'NOV_DB', 'DEC_DB '],
      dtype='object')

In [14]:
new_sta_DBWB.drop(columns = ['WMO_num', 'PLANT_ID_1','PLANT_NAME','STATE','Plnt_LAT','Plnt_LONG',
                 'Name', 'State','Location', 'Wsta_Lat', 'Wsta_Long'], inplace =True)

In [15]:
#add idw column 
new_sta_DBWB['idw'] = np.nan

In [16]:
new_sta_DBWB

,Plant_ID,NEAR_DIST,NEAR_RANK,WBAN,JAN_WB,FEB_WB,MAR_WB,APR_WB,MAY_WB,JUN_WB,...,APR_DB,MAY_DB,JUN_DB,JUL_DB,AUG_DB,SEP_DB,OCT_DB,NOV_DB,DEC_DB,idw
0,3,42699.611445,1,13894,6.50,6.00,15.06,18.78,20.50,23.45,...,21.39,23.95,27.06,28.56,27.61,25.34,20.78,17.56,16.11,NaN
1,3,44331.141006,2,13838,7.61,7.00,15.33,19.22,21.17,23.89,...,21.61,24.34,27.28,29.06,28.06,26.00,21.50,17.89,16.39,NaN
2,3,78998.886706,3,53858,7.28,6.61,15.61,19.28,20.61,23.72,...,21.28,23.34,26.67,28.56,27.45,24.89,20.56,17.45,16.11,NaN
3,7,50668.774744,1,13871,3.11,1.39,10.67,15.00,18.06,21.72,...,18.45,22.28,26.06,27.50,26.22,23.56,18.00,14.89,13.72,NaN
4,7,80988.206168,2,93801,2.17,0.17,9.56,14.06,17.56,21.39,...,17.39,21.78,25.95,27.34,25.84,22.89,16.56,13.33,12.28,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3886,59884,34700.553908,2,4845,-6.56,-11.17,-1.17,5.17,11.67,15.67,...,8.06,14.28,18.39,20.45,20.28,19.39,11.45,6.67,3.17,NaN
3887,59884,38080.407684,3,94846,-6.17,-10.06,-0.44,5.83,12.56,16.45,...,9.67,15.78,19.67,22.39,22.11,20.56,12.61,7.00,3.89,NaN
3888,60100,35252.662159,1,93193,7.50,10.78,11.78,11.06,12.95,16.83,...,17.95,20.28,27.78,28.39,28.00,25.95,21.84,11.00,7.67,NaN
3889,60100,124471.351591,2,23257,6.83,10.00,11.45,10.78,12.72,16.61,...,16.33,18.72,25.39,26.17,25.56,23.61,20.50,10.06,7.17,NaN
3890,60100,136886.410415,3,23155,8.00,10.83,11.67,10.56,12.67,16.45,...,18.61,21.06,28.50,29.17,28.89,26.89,22.56,11.95,8.78,NaN

In [17]:
new_sta_DBWB.columns

Index(['Plant_ID', 'NEAR_DIST', 'NEAR_RANK', 'WBAN', 'JAN_WB', 'FEB_WB',
       'MAR_WB', 'APR_WB', 'MAY_WB', 'JUN_WB', 'JUL_WB', 'AUG_WB', 'SEP_WB',
       'OCT_WB', 'NOV_WB', 'DEC_WB', 'JAN_DB', 'FEB_DB', 'MAR_DB', 'APR_DB',
       'MAY_DB', 'JUN_DB', 'JUL_DB', 'AUG_DB', 'SEP_DB', 'OCT_DB', 'NOV_DB',
       'DEC_DB ', 'idw'],
      dtype='object')

In [25]:
#get variables ready for loop to calculate inverse distance weight and monthly weighted values for DB and WB. 
# dimensions. There are 3891 rows in the 3sta data, becaause there are 3 WBAN stations for every TE plant
# so there are 1297 TE plants, but remeber there are only 1122 locations where I pulled gridMET data from, 
# that is because there are 175 plants co-located, so they have the same climate data. I just left them in for now, 
# but that's why the numbers are different. 
plnt_ids = new_sta_DBWB['Plant_ID'] 
plnt_ids_unqe = pd.Series(plnt_ids.unique())

# get the output dataframe ready (1297 X 25)
column_names = ['Plant_ID', 'WB_01', 'WB_02', 'WB_03', 'WB_04', 'WB_05', 'WB_06', 'WB_07', 
                'WB_08', 'WB_09', 'WB_10', 'WB_11', 'WB_12','DB_01', 'DB_02', 'DB_03', 'DB_04',
                'DB_05', 'DB_06', 'DB_07', 'DB_08', 'DB_09', 'DB_10', 'DB_11', 'DB_12']

idw_clim_data = pd.DataFrame(columns = column_names)
idw_clim_data['Plant_ID'] = plnt_ids_unqe

In [26]:
# i loop goes through new_sta_DBWB dataframe and caculates the inverse distance weight. 
# j loop goes through the columns (WB and DB for each month == 24 cols) and multiplies 
# the idw by the temp
# output is a dataframe called idw_clim_data
for i, plant in enumerate(plnt_ids_unqe):
    df = new_sta_DBWB.loc[new_sta_DBWB['Plant_ID'] == plant]
    dst = np.asarray(df.loc[:, 'NEAR_DIST'])
    ttl_dst = np.sum(dst)
    df.iloc[0,int(df.columns.get_indexer(['idw']))] = (1/(dst[0]/ttl_dst))
    df.iloc[1,int(df.columns.get_indexer(['idw']))] = (1/(dst[1]/ttl_dst))
    df.iloc[2,int(df.columns.get_indexer(['idw']))] = (1/(dst[2]/ttl_dst))
    
    for j in range(4,28):
        mnth_data = np.asarray(df.iloc[:, j])
        mnth_val = (mnth_data[0]*df.iloc[0,int(df.columns.get_indexer(['idw']))] + 
                    mnth_data[1]*df.iloc[1,int(df.columns.get_indexer(['idw']))] + 
                    mnth_data[2]*df.iloc[2,int(df.columns.get_indexer(['idw']))])/(np.sum(df.loc[:,'idw']))
        idw_clim_data.iloc[i,j-3] = mnth_val

In [27]:
idw_clim_data.to_csv('2015_idw_check.csv')